<div class="detail-section" style="margin-top: 100px; margin-left:20px">
    <div class=" row">
        <div class="col-3 thumbnail">
            <img src="{{product.imageUrl}}"  alt="">
            <p>{{product.name}}</p>
            <div class="caption">
                <div class="price">{{product.unitPrice |currency: 'USD'}}</div>
                <button class="btn btn-primary btn-sm" (click)="addToCart()">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
