<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form action="" *ngIf="checkoutFormGroup" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                            <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                <div *ngIf="firstName && firstName.errors && (firstName.errors['required'] || firstName.errors['notOnlyWhitespace'])">
                                    First Name is required
                                </div>
                                <div *ngIf="firstName && firstName.errors && firstName.errors['minlength']">
                                    First Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                            <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                                <div *ngIf="lastName && lastName.errors && (lastName.errors['required'] || lastName.errors['notOnlyWhitespace'])">
                                    Last Name is required
                                </div>
                                <div *ngIf="lastName && lastName.errors && lastName.errors['minlength']">
                                    Last Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                            <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email && email.errors && email.errors['required'] ">
                                    Email is required
                                </div>
                                <div *ngIf="email && email.errors && email.errors['pattern']">
                                    Email must be a valid email address
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="updateStates('shippingAddress')">
                                    <option *ngFor="let country of countryList" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                           
                            <div *ngIf="saCountry && saCountry.invalid && (saCountry.dirty || saCountry.touched)" class="alert alert-danger">
                                <div *ngIf="saCountry && saCountry.errors && saCountry.errors['required']">
                                    Country is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                            <div *ngIf="saCity && saCity.invalid && (saCity.dirty || saCity.touched)" class="alert alert-danger">
                                <div *ngIf="saCity && saCity.errors && (saCity.errors['required'] || saCity.errors['notOnlyWhitespace'])">
                                    City is required
                                </div>
                                <div *ngIf="saCity && saCity.errors && saCity.errors['minlength']">
                                    City Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                            <div *ngIf="saStreet && saStreet.invalid && (saStreet.dirty || saStreet.touched)" class="alert alert-danger">
                                <div *ngIf="saStreet && saStreet.errors && (saStreet.errors['required'] || saStreet.errors['notOnlyWhitespace'])">
                                    Street is required
                                </div>
                                <div *ngIf="saStreet && saStreet.errors && saStreet.errors['minlength']">
                                    Street Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                   

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingStateList">{{state.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="saState && saState.invalid && (saState.dirty || saState.touched)" class="alert alert-danger">
                                <div *ngIf="saState && saState.errors && saState.errors['required']">
                                    State is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                            <div *ngIf="saZipCode && saZipCode.invalid && (saZipCode.dirty || saZipCode.touched)" class="alert alert-danger">
                                <div *ngIf="saZipCode && saZipCode.errors && (saZipCode.errors['required'] || saZipCode.errors['notOnlyWhitespace'])">
                                    Zipcode is required
                                </div>
                                <div *ngIf="saZipCode && saZipCode.errors && saZipCode.errors['minlength']">
                                    Zipcode must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="updateStates('billingAddress')">
                                    <option *ngFor="let country of countryList" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="blCountry && blCountry.invalid && (blCountry.dirty || blCountry.touched)" class="alert alert-danger">
                                <div *ngIf="blCountry && blCountry.errors && blCountry.errors['required']">
                                    Country is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                            <div *ngIf="blStreet && blStreet.invalid && (blStreet.dirty || blStreet.touched)" class="alert alert-danger">
                                <div *ngIf="blStreet && blStreet.errors && (blStreet.errors['required'] || blStreet.errors['notOnlyWhitespace'])">
                                    Street is required
                                </div>
                                <div *ngIf="blStreet && blStreet.errors && blStreet.errors['minlength']">
                                    Street Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                            <div *ngIf="blCity && blCity.invalid && (blCity.dirty || blCity.touched)" class="alert alert-danger">
                                <div *ngIf="blCity && blCity.errors && (blCity.errors['required'] || blCity.errors['notOnlyWhitespace'])">
                                    City is required
                                </div>
                                <div *ngIf="blCity && blCity.errors && blCity.errors['minlength']">
                                    City Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingStateList">{{state.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="blState && blState.invalid && (blState.dirty || blState.touched)" class="alert alert-danger">
                                <div *ngIf="blState && blState.errors && (blState.errors['required'] || blState.errors['notOnlyWhitespace'])">
                                    State is required
                                </div>
                                <div *ngIf="blState && blState.errors && blState.errors['minlength']">
                                    State Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                            <div *ngIf="blZipCode && blZipCode.invalid && (blZipCode.dirty || blZipCode.touched)" class="alert alert-danger">
                                <div *ngIf="blZipCode && blZipCode.errors && (blZipCode.errors['required'] || blZipCode.errors['notOnlyWhitespace'])">
                                    Zipcode is required
                                </div>
                                <div *ngIf="blZipCode && blZipCode.errors && blZipCode.errors['minlength']">
                                    Zipcode must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                            <div *ngIf="cardType && cardType.invalid && (cardType.dirty || cardType.touched)" class="alert alert-danger">
                                <div *ngIf="cardType && cardType.errors && cardType.errors['required'] ">
                                    Card Type is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                            <div *ngIf="nameOnCard && nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)" class="alert alert-danger">
                                <div *ngIf="nameOnCard && nameOnCard.errors && (nameOnCard.errors['required'] || nameOnCard.errors['notOnlyWhitespace'])">
                                    Name is required
                                </div>
                                <div *ngIf="nameOnCard && nameOnCard.errors && nameOnCard.errors['minlength']">
                                    Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                            <div *ngIf="cardNumber && cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger">
                                <div *ngIf="cardNumber && cardNumber.errors && cardNumber.errors['required'] ">
                                    Card Number is required
                                </div>
                                <div *ngIf="cardNumber && cardNumber.errors && cardNumber.errors['pattern'] ">
                                    Card Number must be 16 digits long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                            <div *ngIf="securityCode && securityCode.invalid && (securityCode.dirty || securityCode.touched)" class="alert alert-danger">
                                <div *ngIf="securityCode && securityCode.errors && securityCode.errors['required'] ">
                                    Security Code is required
                                </div>
                                <div *ngIf="securityCode && securityCode.errors && securityCode.errors['pattern'] ">
                                    Security Code  must be 3 digits long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear">
                                    <option *ngFor="let year of creditCardYears">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ cartService.totalQuantityValue }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ cartService.totalPriceValue | currency: 'USD' }}</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-info" type="submit">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>